{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_SELECT_GROUP %}

<h1>{{ lang('ACP_FLAIR_MANAGE_GROUPS') }}</h1>

<p>{{ lang('ACP_FLAIR_MANAGE_GROUPS_EXPLAIN') }}</p>

<form id="select_group" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SELECT_GROUP') }}</legend>
		<dl>
			<dt><label for="subject_id">{{ lang('SELECT_GROUP') ~ lang('COLON') }}</label></dt>
			<dd>
				<select name="subject_id" id="subject_id">
					{% for g in group %}
						<option value="{{ g.GROUP_ID }}">{{ g.GROUP_NAME }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<p class="quick">
			<input type="submit" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
		</p>
	</fieldset>

</form>

{% else %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('ACP_FLAIR_MANAGE_GROUPS') }} :: {{ FLAIR_SUBJECT_NAME }}</h1>

<p>{{ lang('ACP_FLAIR_MANAGE_GROUPS_EXPLAIN') }}</p>

{% include '@stevotvr_flair/subject_flair_form.html' %}

{% endif %}

{% include 'overall_footer.html' %}
