{% include 'overall_header.html' %}

<a id="maincontent"></a>

{% if S_SELECT_USER %}

<h1>{{ lang('ACP_FLAIR_MANAGE_USERS') }}</h1>

<p>{{ lang('ACP_FLAIR_MANAGE_USERS_EXPLAIN') }}</p>

<form id="select_user" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('SELECT_USER') }}</legend>
		<dl>
			<dt><label for="username">{{ lang('ENTER_USERNAME') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" id="username" name="username" /></dd>
			<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
			<dd class="full" style="text-align: left;"><label><input type="checkbox" class="radio" id="anonymous" name="subject_id" value="{{ ANONYMOUS_USER_ID }}" /> {{ lang('SELECT_ANONYMOUS') }}</label></dd>
		</dl>
		<p class="quick">
			<input type="submit" name="submituser" value="{{ lang('SUBMIT') }}" class="button1" />
		</p>
	</fieldset>

</form>

{% else %}

<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('ACP_FLAIR_MANAGE_USERS') }} :: {{ FLAIR_SUBJECT_NAME }}</h1>

<p>{{ lang('ACP_FLAIR_MANAGE_USERS_EXPLAIN') }}</p>

{% include '@stevotvr_flair/subject_flair_form.html' %}

{% endif %}

{% include 'overall_footer.html' %}
