{% include 'ucp_header.html' %}

<h2>{{ lang('UCP_FLAIR') }}</h2>

{% INCLUDECSS '@stevotvr_flair/flair.css' %}

<form id="user_flair" method="post" action="{{ U_ACTION }}">

	<div class="panel">
		<div class="inner">
			<fieldset>
				<h3>{{ lang('UCP_USER_FLAIR') }}</h3>
				<div class="flair">
				{% for c in user_flair %}
					{% if c.CAT_NAME %}<h4>{{ c.CAT_NAME }}</h4>{% endif %}

					{% for item in c.items %}
					<span class="flair-tile">
						<div class="flair-item">
							{% include '@stevotvr_flair/flair_item.html' with item %}
						</div>
						<div class="flair-controls">
							{% if item.S_IS_FREE %}<input type="submit" name="remove_flair[{{ item.FLAIR_ID }}]" value="&times;" class="button1 flair-remove" title="{{ item.REMOVE_TITLE }}" />{% endif %}
							<h5>{{ item.FLAIR_NAME }}</h5>
						</div>
					</span>
					{% endfor %}{% if not loop.last %}<hr>{% endif %}
				{% else %}
					<p>{{ lang('UCP_FLAIR_NO_FLAIR') }}</p>
				{% endfor %}
				</div>
			</fieldset>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<h3>{{ lang('UCP_FLAIR_AVAILABLE') }}</h3>
				<div class="flair">
				{% for c in available_flair %}
					<h4>{{ c.CAT_NAME }}</h4>

					{% for item in c.items %}
					<span class="flair-tile">
						<div class="flair-item">
							{% include '@stevotvr_flair/flair_item.html' with item %}
						</div>
						<div class="flair-controls">
							<h5>{{ item.FLAIR_NAME }}</h5>
							<input type="submit" name="add_flair[{{ item.FLAIR_ID }}]" value="{{ lang('UCP_FLAIR_ADD') }}" class="button2" title="{{ item.ADD_TITLE }}" />
						</div>
					</span>
					{% endfor %}{% if not loop.last %}<hr>{% endif %}
				{% else %}
					<p>{{ lang('UCP_FLAIR_NO_AVAILABLE') }}</p>
				{% endfor %}
				</div>
			</fieldset>
		</div>
	</div>

	{{ S_FORM_TOKEN }}
</form>

{% include 'ucp_footer.html' %}
