{% include 'ucp_header.html' %}

<h2>{{ lang('UCP_FLAIR') }}</h2>

{% INCLUDECSS '@stevotvr_flair/flair.css' %}

<form id="user_flair" method="post" action="{{ U_ACTION }}">

	<div class="panel">
		<div class="inner">
			<fieldset>
				<h3>{{ lang('UCP_USER_FLAIR') }}</h3>
				<div class="flair">
				{% for c in cat if c.user %}
					{% if c.CAT_NAME %}<h4>{{ c.CAT_NAME }}</h4>{% endif %}

					{% for item in c.user %}
					<span class="flair-item">
						<div>
							{% include '@stevotvr_flair/flair_item.html' with item %}
						</div>
						<input type="submit" name="remove_flair[{{ item.FLAIR_ID }}]" value="&times;" class="button2" title="{{ item.REMOVE_TITLE }}" />
					</span>{% if not loop.last %}&nbsp;| {% endif %}
					{% endfor %}
				{% else %}
					<p>{{ lang('UCP_FLAIR_NO_FLAIR') }}</p>
				{% endfor %}
				</div>
			</fieldset>
		</div>
	</div>
	<div class="panel">
		<div class="inner">
			<fieldset>
				<h3>{{ lang('UCP_FLAIR_AVAILABLE') }}</h3>
				<div class="flair">
				{% for c in cat if c.avail %}
					<h4>{{ c.CAT_NAME }}</h4>

					{% for item in c.avail %}
					<span class="flair-item">
						<div>
							{% include '@stevotvr_flair/flair_item.html' with item %}
						</div>
						<input type="submit" name="add_flair[{{ item.FLAIR_ID }}]" value="+" class="button2" title="{{ item.ADD_TITLE }}" />
					</span>{% if not loop.last %}&nbsp;| {% endif %}
					{% endfor %}
				{% else %}
					<p>{{ lang('UCP_FLAIR_NO_AVAILABLE') }}</p>
				{% endfor %}
				</div>
			</fieldset>
		</div>
	</div>

	{{ S_FORM_TOKEN }}
</form>

{% include 'ucp_footer.html' %}
