.profile-flair {
	margin: 0;
	padding: 8px;
}

.profile-flair h4 {
	margin-top: 4px;
	font-size: 12px;
}

.profile-flair a {
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: top;
}

.flair-count {
	position: absolute;
	left: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: inherit;
}

.flair-lg .flair-count {
	font-size: 16px;
	text-align: right;
	line-height: 1em;
}

.flair-icon {
	display: inline-block;
	position: relative;
	text-align: center;
}

.flair-icon img {
	margin: 0;
	padding: 0;
	border: none;
}

.flair-icon .flair-count:before {
	content: '';
	display: inline-block;
}

.flair-legend dt {
	margin-bottom: 12px;
	padding-right: 20px;
}
