.profile-flair {
	padding: 8px;
}

.profile-flair h4 {
	margin-top: 4px;
	font-size: 12px;
}

.flair-count {
	position: absolute;
	left: 0;
	width: 100%;
	font-family: sans-serif;
	font-size: 1.5em;
	text-align: center;
	line-height: inherit;
}

.fa-2x .flair-count {
	font-size: 1em;
	text-align: right;
	line-height: 1em;
}
