<span class="fa-stack{% if FLAIR_SIZE %} fa-{{ FLAIR_SIZE }}x{% endif %}" title="{{ FLAIR_NAME }}{% if FLAIR_COUNT > 1 %} ({{ FLAIR_COUNT }}x){% endif %}">
	{% if FLAIR_COLOR %}
		<i class="fa fa-square fa-stack-2x" style="color: #{{ FLAIR_COLOR }}"></i>
		{% if FLAIR_ICON %}
			<i class="fa {{ FLAIR_ICON }} fa-stack-1x"{% if FLAIR_ICON_COLOR %} style="color: #{{ FLAIR_ICON_COLOR }}"{% endif %}></i>
		{% endif %}
	{% elseif FLAIR_ICON %}
		<i class="fa {{ FLAIR_ICON }} fa-stack-2x"{% if FLAIR_ICON_COLOR %} style="color: #{{ FLAIR_ICON_COLOR }}"{% endif %}></i>
	{% endif %}
	{% if FLAIR_COUNT > 1 and FLAIR_FONT_COLOR %}
		<b class="flair-count" style="color: #{{ FLAIR_FONT_COLOR }}">{{ FLAIR_COUNT }}</b>
	{% endif %}
</span>
